:root {
  /* --accent: hsl(230deg, 100%, 69%); */
  --accent: #0a429b;
}

.dark {
  /* --primary: #91d7e3; */
  --accent: #1d6dcf;
}

a[title="Rss"] {
  color: #da6500;
}

.post-content a {
  color: var(--accent);
}

.first-entry {
  margin: 0;
  min-height: auto;
}

.post-content a code {
  background-color: unset;
  box-shadow: unset;
  font-size: 18px;
}