.post-title {
  text-wrap: balance;
}

.post-content {
  text-wrap: pretty;
}

em strong:before,
em strong:after {
  content: "\2728";
}

:root {
  /* --accent: hsl(230deg, 100%, 69%); */
  --accent: #0a429b;
}

@view-transition {
  navigation: auto;
}

input[type='email'] {
  height: 40px;
  border-radius: 6px;
  margin-right: 0px;
  padding: 10px;
  background: revert;
  border: 2px solid;
  border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  font-family: 'ff-meta-web-pro', Helvetica, sans-serif;
}

form.newsletter input {
  font-size: 18px;
  padding: 2px 6px 3px 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.post-content p > code {
  white-space: nowrap;
}

.hidden,
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input[type='submit'] {
  padding: 0 10px;
  height: 40px;
  background-color: var(--accent);
  color: #ffffff;
  border-radius: 6px;
  border-color: #444;
  font-family: 'ff-meta-web-pro', Helvetica, sans-serif;
}

a[href*='youtube.com']::after,
a[href*='youtu.be']::after {
  content: ' 📺';
  margin-left: 4px;
}

:root[data-theme=dark] {
  /* --primary: #91d7e3; */
  --accent: #1d6dcf;
}

a[title='Rss'] {
  color: #da6500;
}

.reply-links a,
.post-content a {
  color: var(--accent);
}

.first-entry {
  margin: 0;
  min-height: auto;
}

.post-content a code {
  background-color: unset;
  box-shadow: unset;
  font-size: 18px;
}
